/* purgecss start ignore */

.gradient {
  background: linear-gradient(90deg, rgba(246, 189, 96, 1) 0%, rgba(230, 186, 173, 1) 100%);
}

.gradient:hover {
  @apply bg-body;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, rgba(246, 189, 96, 1) 0%, rgba(230, 186, 173, 1) 100%);
}
